.about-product {
    // background-color: rgba(204, 204, 204, 0.1);

    //   &__card {
    //   }
    &__description {
        display: flex;
        padding-top: 128px;
        margin-bottom: 10px;
    }
    //   &__icon {
    //   }
    // &__img {

    // }
    &__item {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        padding-top: 22px;
        padding-left: 23px;
        padding-right: 23px;
        padding-bottom: 17px;

        background-color: white;
        box-shadow: 0px 0px 6px rgba(8, 35, 48, 0.15);
        border: 1px $btn-color solid;
        border-radius: 10px;
        & img {
            margin-bottom: 10px;
        }
    }
    &__list {
        display: flex;
        justify-content: space-between;
        margin-bottom: 134px;
    }
    &__text {
        font-family: $main-font;
        color: $body;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;

        margin-bottom: 40px;
    }
    &__text-ic {
        font-family: $main-font;
        color: $title-text;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;

        width: 222px;
    }
    &__title {
        font-family: $main-font;
        color: $title-text;
        font-style: normal;
        font-weight: 700;
        font-size: 38px;
        line-height: 49px;
        margin-bottom: 30px;
    }
    &__wrapper {
        position: relative;
        text-align: center;
        overflow: hidden;
        // background-blend-mode: multiply;

        // background-image: url('../../images/about-product/earth.svg');
        // max-width: 1202px;

        // max-width: 1920px;
        // background-color: rgba(15, 16, 16, 0.6);

        // background-size: cover;

        &::after {
            background-blend-mode: multiply;
            height: 1164px;

            width: 100vw;

            content: '';
            display: block;
            position: absolute;

            top: 0;

            z-index: -1;
            background-attachment: fixed;
            background-size: auto;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../../images/about-product/earth.svg);
            background-image: url(../../images/about-product/paral2.svg);

            background-color: rgba(204, 204, 204, 0.2);
        }
    }
}
.about-product-app {
    &__btn {
        // display: block;

        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        // padding: 12px 19px;
        // padding-left: 19px;
        // padding-right: 19px;
        // padding-top: 12px;
        // padding-bottom: 12px;
        background-color: transparent;
        border: 2px $btn-color solid;
    }
    &__item {
        &:not(:last-child) {
            margin-right: 25.5px;
        }
    }
    &__list {
        display: flex;
    }
}
// .container {
// }

// .mb_parallax_container {
//     height: 100vh;
//     width: 100vw;
//     border-bottom: 10px solid black;
//     padding-top: 20vh;
//     background-attachment: fixed;
//     background-size: cover;
//     background-repeat: no-repeat;
// }

// #mb_parallax_one {
//     background-image: url('../../images/about-product/earth.svg');
// }
